<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool Details - {{.Name}}</title>
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-3">
        <h1>Details for {{.Name}}</h1>
        <table class="table mt-3">
            <tbody>
                <tr>
                    <td>State</td>
                    <td>
                        <span class="badge bg-{{.State | stateToClass}}">{{.State}}</span>
                    </td>
                </tr>
                <tr>
                    <td>Latest Run</td>
                    <td>{{.LatestRun}}</td>
                </tr>
                <tr>
                    <td>Latest Log Update</td>
                    <td>{{.LatestLogChange}}</td>
                </tr>
            </tbody>
        </table>

        <input
            id="picker"
            list="data"  
            onmouseover="focus();old = value;" 
            onmousedown="inputFocus();" 
            onmouseup="value = old"
            oninput="onInput()"
        />
    
        <datalist id="data">
            {{ range $id, $data := .Logs }}
                <option value="{{ $id }}" label="{{ $data | fileToDate }}"></option>
            {{ end }}
        </datalist>
    

        <h2>Log</h2>
        <pre>{{.Log}}</pre>
        <h2>Errors</h2>
        <pre>{{.Error}}</pre>
    </div>

    <script type="text/javascript">
        function onInput() {
            var val = document.getElementById("picker").value;
            var opts = document.getElementById('data').children;
            for (var i = 0; i < opts.length; i++) {
                if (opts[i].value === val) {
                    window.location = "/tool/{{.Name}}/" + val;
                    break;
                }
            }
        }
        function inputFocus(){
            var input = document.getElementById("picker");
            if(input.value == ""){
                value = '';
            }else{
                old = value = input.label;
            }
        }
    </script>
</body>
</html>
