<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool Details - {{.Name}}</title>
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-3">
        <h1>Details for {{.Name}}</h1>
        <table class="table mt-3">
            <tbody>
                <tr>
                    <td>State</td>
                    <td>
                        <span class="badge bg-{{.State | stateToClass}}">{{.State}}</span>
                    </td>
                </tr>
                <tr>
                    <td>Latest Run</td>
                    <td>{{.LatestRun}}</td>
                </tr>
                <tr>
                    <td>Latest Log Update</td>
                    <td>{{.LatestLogChange}}</td>
                </tr>
            </tbody>
        </table>

        <div class="row justify-content-center mt-4">
            <div class="col-4">
                <input
                    class="form-control form-control-lg"
                    list="data"
                    id="picker"
                    placeholder="{{ .LogDate }}"
                    oninput="onInput()"
                >
            </div>
        </div>

        <datalist id="data">
            {{ range $id, $data := .Logs }}
                <option
                    data-value="{{ $id }}"
                    value="{{ $data | fileToDate }}"
                    label="{{ $data | fileToDate }}"
                ></option>
            {{ end }}
        </datalist>

        <h2 class="mt-4">Log</h2>
        <pre>{{.Log}}</pre>
        <h2 class="mt-4">Errors</h2>
        <pre>{{.Error}}</pre>
    </div>

    <script type="text/javascript">
        function onInput() {
            var val = document.getElementById("picker").value;
            var opts = document.getElementById('data').children;
            for (var i = 0; i < opts.length; i++) {
                if (opts[i].value === val) {
                    window.location = "/tool/{{.Name}}/" + opts[i].getAttribute('data-value');
                    break;
                }
            }
        }
    </script>
</body>
</html>
