<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShieldSweep</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-3">
        <h1 class="text-center">ShieldSweep</h1>
        <div class="text-center mt-4">
            <h4>System Status:</h4>
            {{if .Running}}
            <span class="badge bg-primary">Running</span>
            {{else}}
            <span class="badge bg-success">Ready</span>
            {{end}}
        </div>

        <table class="table table-hover mt-3">
            <thead>
                <tr>
                    <th scope="col">Tool</th>
                    <th scope="col">Status</th>
                    <th scope="col">Last Run</th>
                    <th scope="col">Last Log Update</th>
                </tr>
            </thead>
            <tbody>
                {{range .ToolsStatus}}
                <tr onclick="window.location='/tool/{{.Name}}';" style="cursor:pointer;" class="table-{{.State | stateToClass}}">
                    <td>{{.Name}}</td>
                    <td>{{.State}}</td>
                    <td>{{.LastRun}}</td>
                    <td>{{.LastLogChange}}</td>
                </tr>
                {{end}}
            </tbody>            
        </table>

        <div class="text-center mt-4">
            <form action="/start-scan" method="post">
                <button type="submit" class="btn btn-lg btn-primary" {{if .Running}}disabled{{end}}>Start Scan</button>
            </form>
        </div>
    </div>
</body>
</html>
